.card {
  .imageContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
