.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0c0cd6;
  color: #f2f2f3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1;
  height: 100%;
  align-items: center;
  margin: 0;
}

.footer {
  flex: 0;
}

.callToActionSection {
  text-align: center;
  padding: 40px 20px;
  background-color: #000b16;
  color: white;

  .callToActionTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 26px;
    }
  }

  .callToActionDescription {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .callToActionButton {
    padding: 12px 40px;
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 10px 30px;
    }
  }
}